.principle__head
    .title
        h2.title__head
            | ПРИНЦИПЫ
        .title__body
            | Наши принципы - основа, на которой мы строим нашу компанию.

.principle__body#principle_id
    ul.content__list
        li.content__item
            h3.principle__title
                | Принципы работы с Клиентами
            ul.principle__list
                li.principle__item
                    | Оптимальное соотношение цены и качества услуг
                li.principle__item
                    | Безопасность и стабильность
                li.principle__item
                    | Комплексный подход
        li.content__item
            h3.principle__title
                | Внутренние принципы работы
            ul.principle__list
                li.principle__item
                    | Развитие
                li.principle__item
                    | Профессионализм
                li.principle__item
                    | Креативность
        li.content__item
            h3.principle__title
                | Взаимодействия с партнерами
            ul.principle__list
                li.principle__item
                    | Взаимная ответственность
                li.principle__item
                    | Внимание к деталям
                li.principle__item
                    | Поддержка







