#process_id.wrapper__container
    .process__head.arrowdown
        .title
            h2.title__head
                | БИЗНЕС-ПРОЦЕССЫ
    .wrapper
        .process__body#process_id
            .cover
            span.txt.one
                | Своевременность
            span.txt.two
                | Аккуратность и прозрачность информационного потока
            span.txt.three
                | Надежность
    .process__foot
        | [ Ключевые принципы работы выражены в цифровых параметрах ]












