.slider__container
    // z = -1
    input.slider__radio(type="radio" name="slider" id="radio_id_1" checked)
    input.slider__radio(type="radio" name="slider" id="radio_id_2")
    input.slider__radio(type="radio" name="slider" id="radio_id_3")
    
    // z = 3
    .slider__captiion.caption.bg_gradient_tobottom
        .caption__item.caption__item_1
            .caption__utp
                .caption__head
                    | Мы нацелены на результат. 
                    | Стремимся повышать эффективность, предлагаем клиентам 
                    | профессионализм и качественный сервис! 
                .caption__body
                    | У нас есть цели, они ограничены сроками и имеют четкие 
                    | параметры. В рамках коммерческой организации все измеримо, 
                    | результат – понятная и очевидная вещь. 
                    | Поэтому мы хотим на вопрос «Сделано?», всегда отвечать 
                    | гордо «Да!».
        .caption__item.caption__item_2
            .caption__utp
                .caption__head
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit incidunt, voluptas obcaecati laboriosam ipsa numquam. 
                .caption__body
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aut delectus soluta corporis, fuga itaque officiis eum cupiditate sit, quia atque omnis voluptate modi ipsum eligendi, deleniti, blanditiis. Et accusantium debitis quisquam ad?
        .caption__item.caption__item_3
            .caption__utp
                .caption__head
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem veniam, ipsam ad sed fuga autem provident.
                .caption__body
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A provident quos consectetur voluptates sunt vero, aspernatur veniam maiores. Veritatis maiores reprehenderit minus atque, adipisci nam eum natus!

    .overlay
    // z = 1
    .slider__list
        .slider__item.slider__item_1
        .slider__item.slider__item_2
        .slider__item.slider__item_3

    // z = 4
    .slide__toggle.toggle
        label.toggle__item.toggle__item_1(for="radio_id_1")
            i.arrow
        label.toggle__item.toggle__item_2(for="radio_id_2")
            i.arrow
        label.toggle__item.toggle__item_3(for="radio_id_3")
            i.arrow

    // z = 5
    .slide__controls.controls
        label.controls__item.controls__item_1(for="radio_id_1")
        label.controls__item.controls__item_2(for="radio_id_2")
        label.controls__item.controls__item_3(for="radio_id_3")
    








