.slider__container
    // z = -1
    input.slider__radio(type="radio" name="slider" id="radio_id_1" checked)
    
    // z = 3
    .slider__captiion.caption.bg_gradient_tobottom
        .caption__item.caption__item_1
            .caption__utp
                .caption__title
                    | Команда
                .caption__head
                    | Мы нацелены на результат. 
                    | Стремимся повышать эффективность, предлагаем клиентам 
                    | профессионализм и качественный сервис! 
                .caption__body
                    | У нас есть цели, они ограничены сроками и имеют четкие 
                    | параметры. В рамках коммерческой организации все измеримо, 
                    | результат – понятная и очевидная вещь. 
                    | Поэтому мы хотим на вопрос «Сделано?», всегда отвечать 
                    | гордо «Да!».

    .overlay
    // z = 1
    .slider__list
        .slider__item.slider__item_1

    // z = 4
    .slide__toggle.toggle
        label.toggle__item.toggle__item_1(for="radio_id_1")
            i.arrow


    








