@import "../mixins";


.footer {
    background: $bgFooter;
    min-height: $footerHeight;
    z-index: 6;
    padding-top: 40px;
    color: #aaa;
}

.logo_footer {
    text-align: center;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 5px;
    top: 0;
    border: solid 2px #aaa;
    @include radius(0px 15px 15px 15px);
}
.logo__svg_footer {
    display: inline-block;
    margin-top: 10px;
    overflow: hidden;
    height: 70px;
    width: 70px;
    fill: #aaa;
}



.footer__links {
    float: left;
}
.links {
    margin-left: 105px;
    margin-top: 20px;
    width: 200px;
}
.links__item {
    font-size: 15px;
    margin-top: 3px;
    color: #f4f4f4;
    display: block;
    text-decoration: underline;
}



.footer__list {
    display: block;
    float: left;
    width: 200px;
}
.country {
    text-align: left;
}
.footer__item {
    padding-top: 3px;
    font-size: 13px;
    display: block;
}
.country__name {
    color: #f4f4f4;
    width: 80px;
    display: inline-block;
}
.country__state {
    color: #858585;
    display: inline-block;
}



.footer__right {
    display: block;
    position: absolute;
    width: 500px;
    right: 0;
    min-height: 100px;
}
.partners {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("img/partners.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 445px;
    height: 45px;
}
.footer__descr {
    .txt {
        padding-top: 60px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.social {
    position: absolute;
    right: 0;
    bottom: 0;
}
.social__list {
    
}
.social__item {
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.social__link {
    background-color: #587aca;
    display: block;
    width: 100%;
    height: 100%;
}
.social__icon {
    margin-top: 6px;
    color: #fff;
    font-size: 1em;
}
.social__txt {
    text-indent: 100px;
}






