@import "../mixins";


.footer {
    background: $bgFooter;
    min-height: $footerHeight;
    z-index: 6;
    padding-top: 40px;
    color: #aaa;
}

.logo_footer {
    text-align: center;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 5px;
    top: 0;
    border: solid 2px #aaa;
    @include radius(0px 15px 15px 15px);
}
.logo__svg_footer {
    display: inline-block;
    margin-top: 10px;
    overflow: hidden;
    height: 70px;
    width: 70px;
    fill: #aaa;
}



.footer__links {
    float: left;
}
.links {
//    border: solid 1px #ff0;
    margin-left: 105px;
    margin-top: 20px;
    width: 200px;
}
.links__item {
    font-size: 15px;
    margin-top: 3px;
    color: #f4f4f4;
    display: block;
    text-decoration: underline;
}



.footer__list {
//    border: solid 1px #ff0;
    display: block;
    float: left;
    width: 200px;
}
.country {
    text-align: left;
}
.footer__item {
    padding-top: 3px;
    font-size: 13px;
    display: block;
}
.country__name {
    color: #f4f4f4;
    width: 80px;
    display: inline-block;
}
.country__state {
    color: #858585;
    display: inline-block;
}










