extends ../1_layout/layout

block title
    | title here



block content
    section.main__container
        .wrapper
            include ../3_blocks/block.jade

    section.main__container
        include ../3_blocks/block.jade





