@import "../mixins";



.office {
    min-height: 450px;
    background-color: #F4F4F4;
    background-image: url('img/bg-content_office.jpg');
    background-repeat: no-repeat;
    background-position: center -390px;
}
.office__head {
    width: 560px;
    text-align: left;
    margin-top: 65px;
    color: #231f20;
    .title__head {
        padding: 20px 0;
    }
    .title__body {
        border-top: solid 1px #aaa;
        padding-top: 20px;
    }
}
.office__body {
    height: 450px;
    width: 450px;
    position: absolute;
    top: -50px;
    right: 120px;
}
.office__item {
    border: solid 1px transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.office__item_point {
    z-index: 2;
}
.office__item_path {
    z-index: 1;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(4s);
    @include animation_duration(.5s);
}

#circle-minsk,
#circle-brest,
#circle-smolensk,
#circle-moskau,
#circle-riga,
#circle-vena,
#circle-vilnus {
    transform-origin: 50% 50%;
}


.point,
.office__point {
    text-align: left;
    position: absolute;
    display: inline-block;
}
.office__point {
    @include radius(50%);
}
.point__name {
    font-family: $font_3;
    color: #555;
}
.point__city {
    font-family: $font_2;
    font-size: .8em;
    color: #aaa;
}

.point_minsk {
    left: 55%;
    top: 56%;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(.5s);
    @include animation_duration(.5s);
}

.minsk {
    left: 47%;
    top: 46%;
    width: 40px;
    height: 40px;
    background-color: #eb232a;
//  animation: zoommy 1s .3s;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(.5s);
    @include animation_duration(.5s);
}


.point_brest {
    left: 29%;
    top: 55%;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(1s);
    @include animation_duration(.5s);
}

.brest {
    left: 38%;
    top: 56%;
    width: 10px;
    height: 10px;
    background-color: #818285;
//  animation: zoommy 1s 1.3s;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(1s);
    @include animation_duration(.5s);
}


.point_vilnus {
    left: 24%;
    top: 37%;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(1.5s);
    @include animation_duration(.5s);
}

.vilnus {
    left: 40%;
    top: 42%;
    width: 15px;
    height: 15px;
    background-color: #414142;
//  animation: zoommy 1s 1.3s;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(1.5s);
    @include animation_duration(.5s);
}


.point_smolensk {
    left: 64%;
    top: 34%;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(2s);
    @include animation_duration(.5s);
}
.smolensk {
    left: 68.5%;
    top: 43%;
    width: 15px;
    height: 15px;
    background-color: #414142;
//  animation: zoommy 1s 1.3s;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(2s);
    @include animation_duration(.5s);
}


.point_moskau {
    left: 86%;
    top: 44%;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(2.5s);
    @include animation_duration(.5s);
}
.moskau {
    left: 85%;
    top: 36.5%;
    width: 25px;
    height: 25px;
    background-color: #414142;
//  animation: zoommy 1s 2.3s;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(2.5s);
    @include animation_duration(.5s);
}


.point_riga {
    left: 41%;
    top: 29%;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(3s);
    @include animation_duration(.5s);
}
.riga {
    left: 37%;
    top: 30%;
    width: 12px;
    height: 12px;
    background-color: #818285;
//  animation: zoommy 1s 2.3s;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(3s);
    @include animation_duration(.5s);
}


.point_vena {
    left: 5%;
    top: 77%;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(3.5s);
    @include animation_duration(.5s);
}
.vena {
    left: 13%;
    top: 82%;
    width: 12px;
    height: 12px;
    background-color: #414142;
//  animation: zoommy 1s 3.3s;
    @extend .animated;
    @extend .fadeIn;
    @include animation_delay(3.5s);
    @include animation_duration(.5s);
}



@-webkit-keyframes zoommy {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(2);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
@keyframes zoommy {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(2);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}






