a.nav__anchor(name="footer")
.wrapper
    .logo.logo_footer
        svg.svg.logo__svg_footer(class="icon_"+item viewbox="0 0 1000 1000")
            use(xlink:href="#logo_svg")
    .footer__links.links
        a.links__item(href="javascript:void(0)")
            | www.krafttrans.com
        a.links__item(href="javascript:void(0)")
            | info@krafttrans.com
    ul.footer__list.country
        li.footer__item
            span.country__name
                | Австрия: 
            span.country__state
                | Вена

        li.footer__item
            span.country__name
                | Россия: 
            span.country__state
                | Москва, Смоленск 

        li.footer__item
            span.country__name
                | Беларусь: 
            span.country__state
                | Минск, Брест 

        li.footer__item
            span.country__name
                | Литва: 
            span.country__state
                | Вильнюс 

        li.footer__item
            span.country__name
                | Латвия: 
            span.country__state
                | Рига 




















